.l-screen {
  width: 430px;
  height: 922px;
  background-color: white;
}

.l-logo {
  height: 170px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.l-send {
  height: 202px;
}
